.information {
    margin: 0;
    margin-left: 5.85%;
    margin-right: 5.85%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
  align-items: center;

}

@media screen and (max-width: 900px) {
    .information  {
        flex-direction: column;
        align-items: center;
    }
  }

.information__img {
    margin-left: 10%;
    background-image: url('../public/image/335cceb6-744f-49c8-8fe1-58752ed1e292.jpg');
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 243px;
    height: 243px;

}

@media screen and (max-width: 900px) {
    .information__img  {
        order: -1;
       margin-left: 0;
    }
  }

  @media screen and (max-width: 900px) {
    .information__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }


.information__title {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    max-width: 506px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    word-wrap: break-word;
}

@media screen and (max-width: 900px) {
    .information__title {
        margin-top: 43px;
    }
  }

.information__subtitle {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    max-width: 506px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    color: #21243D;
    word-wrap: break-word;

}

@media screen and (max-width: 900px) {
    .information__subtitle {
        text-align: center;
    }
  }

.information__text {
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
    max-width: 506px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;   
    color: #21243D;
    word-wrap: break-word;  
}

@media screen and (max-width: 900px) {
    .information__text {
        text-align: center;
    }
  }

.information__button {
    width: 208px;
    height: 47px;
    border-radius: 2px;
    cursor: pointer;
    align-self: flex-start;
    justify-self: flex-start;
    background-color: #ff6b6b;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 68px;


}


@media screen and (max-width: 900px) {
    .information__button {
        align-self: center;
    }
  }

.information__link {
    text-decoration: none;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;

}