.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;

}

.popup__conteiner {
    margin: 0;
    padding: 0;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 430px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 929px) {
    .popup__conteiner {
        max-width: 282px;
    }
}

.popup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup_opened {
    visibility: visible;
    opacity: 1;

}

.popup__title {
    margin: 0;
    padding: 0;
    margin-left: 36px;
    margin-bottom: 54px;
    margin-right: 64px;
    margin-top: 34px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}


@media screen and (max-width: 929px) {
    .popup__title {
        margin: auto;
        margin-bottom: 75px;
        max-width: 238px;
        margin-top: 25px;
        font-size: 18px;
        line-height: 22px;
    }
}

.popup__button {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    margin-bottom: 37px;
    margin-left: 36px;
    margin-right: 36px;
    width: 358px;
    height: 50px;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    background-color: #000000;
}

@media screen and (max-width: 929px) {
    .popup__button {
        max-width: 238px;

    }
}


.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.popup__button-close {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    background-size: contain;
    background-color: transparent;
    min-width: 32px;
    min-height: 32px;
    border: none;
    background-image: url(../public/image/Close_Icon.svg);

}

@media screen and (max-width: 929px) {
    .popup__button-close {
        top: -36px;
        right: 0;
        min-width: 20px;
        min-height: 20px;
        border: none;
    }
}

.popup__button-close:hover {

    opacity: .6;
    cursor: pointer;
}