.skils {
    margin: 0;
    max-width: 1024px;
    margin-left: 5.85%;
    margin-right: 5.85%;

}


.skils__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
}

@media screen and (max-width: 660px) {
    .skils__block {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }
}


.skils__title {
    margin: 0;
    margin-bottom: 30px;
    max-width: 90%;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #21243D;
    word-wrap: break-word;
}